<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nambikkai</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/640e40826c.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
  <script src="https://checkout.stripe.com/checkout.js" defer></script>
  <script>
      var stripePublicKey = '<%= stripePublicKey %>'
      // function submit(){
      //   document.querySelector('form')
      // }
  </script>
  <script src="script.js" defer></script>
</head>
<body>
<%- include('partials/nav.ejs') %> 

<section class="donation">
  <h1><span class="first-word">How You</span><span class="second-word"> Can Help?</span> </h1>
  <div class="container">
    <div class="shop-items">
      <% items.smallCurrency.forEach(function(item){ %>
        <div class="shop-item" data-item-id="<%= item.id %>">
            <span class="shop-item-title"><%= item.name %></span>
            <img class="shop-item-image" src="images/<%= item.imgName %>">
            <div class="shop-item-details">
                <span class="shop-item-price">RM<%= item.price/100%></span>
                <button class="btn-primary shop-item-button" type="button">+</button>
            </div>
        </div>
      <% }) %>
    </div>
  </div>

  <!-- <div class="form">
    <h2 class="form-header">Consent Form</h2>
    <form action="https://docs.google.com/forms/u/5/d/e/1FAIpQLScC11PJAT22O9EgrHaxQ1_cbLS0m4hRyGYiysb_LiakwQsMow/formResponse" id="form">
      <div class="user-name">
        <label for="userName">Name :</label>
        <input type="text" name="entry.1065046570" id="userName" onchange="submit()">
      </div>
      <div class="permission">
        <label for="permission" class="permission-question">remain anonymous?</label>
        <div>
          <input type="radio" name="entry.1166974658" id="permissionOption" checked>
          <label for="permissionOption" >Yes</label>
        </div>
  
        <div>
          <input type="radio" name="entry.1166974658" id="permissionOption">
          <label for="permissionOption">No</label>
        </div>
      </div>
    </form>
  </div> -->

<div class="container" id="donation-confirmation">
  <h2 class="section-header">Selected Items</h2>
  <div class="add-border-bottom"></div>
  <div class="cart-row">
      <span class="cart-item cart-header cart-column">ITEM</span>
      <span class="cart-price cart-header cart-column">PRICE</span>
      <span class="cart-quantity cart-header cart-column">QUANTITY</span>
  </div>

  <div class="cart-items"> 
  </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total :</strong>
        <span class="cart-total-price">RM0</span>
    </div>
    <button class="btn-primary btn-purchase" type="button">Click to Donate</button>
</div>
</section>

</body>
</html>
  
